:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: #fad400;
    --dark-desaturated-cyan: hsl(167, 40%, 24%);  /* (graphic design text) */
    --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/* font-family: 'Barlow', sans-serif; 600 
font-family: 'Fraunces', serif; 700, 900 */

*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* max-width: 1440px; */
    scrollbar-width: none; /* for firefox */
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
}

/* Main section*/

.main {
    background: url('./images/desktop/image-header.jpg') no-repeat center;
    background-size: cover;
    padding: 2em;
    min-height: 100vh;
}

/* Navbar*/

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-large {
    display: flex;
    list-style: none;
    gap: 3em;
}

.links-large a {
    text-decoration: none;
}

.link {
    color: var(--white);
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
}

.link:hover, .link:focus{
    opacity: .65;
}  

.overlay {
    display: none;
}

.contact {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: var(--darkDesaturatedCyan);
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 2em;
    text-transform: uppercase;
}

.contact:hover,.contact:focus{
    color: var(--white);
    background-color: hsla(0, 0%, 100%, 0.3);
    border: 2px solid var(--white);
}

.we-are-creatives {
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 65px;
    letter-spacing: .15em;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    text-align: center;
}

.down-arrow{
    margin: 10em auto;
    text-align: center;
    display: block;
}

/* About section */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 50%;
}

.row-1 {
    display: flex;
    flex-direction: row-reverse;
}

.second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    padding: 0 7%;
}

.about-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 1em;
    color: var(--very-dark-desaturated-blue);
}

.text {
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 2em;
    color: var(--dark-grayish-blue);
    line-height: 1.7;
}

.learn-more-y {
    text-decoration: underline solid hsla(51, 100%, 49%, 0.2) 5px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    text-transform: uppercase;
}

.learn-more-y:hover {
    text-decoration: underline solid hsla(51, 100%, 49%, 0.8) 5px;
}

.learn-more-p {
    text-decoration: underline solid hsla(7, 99%, 70%, 0.2) 5px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    text-transform: uppercase;
}

.learn-more-p:hover {
    text-decoration: underline solid hsla(7, 99%, 70%, 0.8) 5px;
}

/* Services section */

.row-3 {
    display: flex;
    flex-direction: column;
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
    background-size: cover; 
}

.row-3__content, .row-4__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    text-align: center;
    max-width: 100%;
    padding-bottom: 3em;
}

.graphic-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--dark-desaturated-cyan);
    padding-top: 65%;
}

.graphic-text {
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 2em;
    color: var(--dark-desaturated-cyan);
    line-height: 1.7;
    padding: 1em 13%;
}

.row-4 {
    display: flex;
    flex-direction: column;
    background: url(./images/desktop/image-photography.jpg) no-repeat center;
    background-size: cover; 
}

.photography-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--dark-blue);
    padding-top: 65%;
}

.photography-text {
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 2em;
    color: var(--dark-blue);
    line-height: 1.7;
    padding: 1em 16%;
}

/* Testimonials section */

.testimonials {
    margin: 10em 0;
    text-align: center;
}

.testimonials-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.testimonials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 0 3em;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
}

.avatar {
    border-radius: 50%;
    width: 25%;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.testimonial-text {
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    color: var(--very-dark-grayish-blue);
    line-height: 1.7;
    text-align:center;
    padding: 3em 0;
    margin: 0 2em;
}


.name {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--very-dark-desaturated-blue);
    padding-top: 2em;
}

.job {
    font-family: 'Barlow', sans-serif; 
    font-weight: 600;
    font-size: 15px;
    color: var(--grayish-blue);
    line-height: 1.7;
    text-align:center;
    padding-top: 1em;
}

/* Footer */


.footer {
    background-color: #90d4c5;
    padding-bottom: 6em;
}
.images-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.images-mobile-container {
    display: none;
}

.footer-title {
    font-family: 'Barlow', sans-serif; 
    font-weight: 900;
    font-size: 40px;
    color: var(--dark-moderate-cyan);
    text-align:center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-bottom: 3em;
}

.footer-links a {
    text-decoration: none;
    color: var(--dark-moderate-cyan);
    font-family: 'Barlow', sans-serif; 
    font-size: 18px;
}
.footer-links a:hover, .footer-links a:focus {
    color: var(--white);
}  

.social-link:hover {
    filter:grayscale(1) invert(1);
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

/* Mobile view */

@media only screen and (max-width: 925px) {

    *, body {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
        scrollbar-width: none; /* for firefox */
    }

    body::-webkit-scrollbar {
        display: none;
    }
    
    /* Main section */

    .main {
        background: url('./images/mobile/image-header.jpg') no-repeat center;
        background-size: cover;
        min-height: 100vh;
        padding: .8em;
    }

    .nav_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links-container {
        display: none;
    }

    .overlay {
        position: relative;
        display: inline-block;
    }
      
    .overlay .overlaytext {
        width: 80vw;
        background-color: var(--white);
        color: #fff;
        text-align: center;
        padding: 3em 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
    }

    .overlaytext ul {
        list-style: none;
        font-family: 'Barlow', sans-serif; 
    }

    .links-small {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 3em;
    }
    
    .links-small a {
        text-decoration: none;
        color: var(--dark-grayish-blue);
    }

    .link {
        color: var(--dark-grayish-blue);
    }

    .contact {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 15px;
        color: var(--very-dark-desaturated-blue);
        background-color: var(--yellow);
        border-radius: 2em;
        text-transform: uppercase;
        padding: 1em 2em;
    }

    .hide {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
    
    .hamburger {
        font-size: 3em;
        color: white;
        cursor: pointer;
        margin-left: 1.7em;
    }

    .we-are-creatives {
        font-weight: 900;
        font-size: 40px;
        letter-spacing: .15em;
    }
    
    .down-arrow {
        margin: 6em auto;
        text-align: center;
    }

    /* About section */

    .row {
        width: 100%;
    }

    .row-1, .row-2 {
        display: flex;
        flex-direction: column;
    }

    .second-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 4em 3em;
    }

    .about-title {
        font-size: 30px;
    }

    .text {
        font-family: 'Barlow', sans-serif; 
        font-weight: 600;
        font-size: 15px;
    }
    
    .flex {
        display: block;
    }
    .graphic-title {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 20px;
        color: var(--dark-desaturated-cyan);
        padding-top: 95%;
    }
    
    .graphic-text {
        font-family: 'Barlow', sans-serif; 
        font-weight: 600;
        font-size: 15px;
        color: var(--dark-desaturated-cyan);
        line-height: 1.7;
        padding: 1em 0em;
    }

    .photography-title {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 20px;
        color: var(--dark-blue);
        padding-top: 95%;
    }
    
    .photography-text {
        font-family: 'Barlow', sans-serif; 
        font-weight: 600;
        font-size: 15px;
        color: var(--dark-blue);
        line-height: 1.7;
        padding: 1em 0;
    }

    /* Testimonials section */

    .testimonials {
        display: block;
        margin: 3em 0;
    }

    .testimonial {
        padding: 2.5em 0;
    }
    
    .testimonials-title {
        font-size: 18px;
        margin-top: 4em;
    }

    .testimonials-container {
        display: inline-block;
        padding: 2em 0;
    } 
    
    .testimonial-text {
        padding: 2em 0;
        margin: 0;
        font-size: 15px;
    }

    .name {
        padding-top: 0;
    }

     /* Images section */

    .images-container {
        display: none;
    }

    .images-mobile-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: auto;
        min-height: auto;
    }

    .images-mobile-container img {
        width: 100%;
        object-fit: cover;
    }

    /* Footer section */

    .footer-title {
        font-weight: 700;
        font-size: 30px;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .footer-links {
        gap: 0;
        padding-bottom: 4em;
        margin: 0 .5em;
    }

    .footer-icons {
        gap: 0;
        margin: 0 4em;
    }
}